.custom-navbar {
  background-color: transparent;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand img {
  margin-left: 50px;
  width: 50px;

}.user-icon {
  color: white;
}


.navbar-nav {
  margin-left: auto; /* Aligns the navbar items to the right */
}

.top {
  padding-top: 10px;
  padding-left: 10px;
  width: 40px;
  height: auto;
}

.custom-navbar .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: bold;
  color: aliceblue;
}

.form-control {
  font-weight: bold;
  height: 30px;
}

.dropdown-menu .dropdown-item {
  margin-right: 10px;
  font-size: medium;
}

.navbar-nav .nav-link {
  margin-right: 20px;
}

.dropdown-menu {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  font-size: smaller;
  color: #333;
  font-weight: bold;
  transition: background-color 0.2s;
  border-radius: 10px;
}

.navbar-toggler {
  color: rgb(0, 136, 255);
  background-color: aliceblue;
}

/* Adjustments for spacing between nav items */
.navbar-nav > li {
  margin-right: 20px; /* Reduced spacing for better alignment */
}
